@tailwind base
@tailwind components
@tailwind utilities

// font imports
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap')

// apply
@import "apply"

// index
@import "index/report-card"


.thumbnail
    width: 100px
    height: 100px
    object-fit: cover
    margin: 5px
    float: left
    cursor: pointer
